.env
!.env.dist
hanoi
.gradle
.idea
*.iml
build
kotlin-js-store
_dev
*.dev.kt
dependency-analysis.md
erm.md
.kotlin
build-reports
!build-reports/HOWTO.md
!build-reports/frontend/.gitkeep
!build-reports/backend/.gitkeep
